<div class="wrapper-header">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul class="menu-header">
                <li (click)="gotoHome()"><button type="button" class="btn btn-dark">Home</button></li>
                <li (click)="gotoCadastroClientes()"><button type="button" class="btn btn-dark">Abra sua conta</button></li>
                <li><button type="button" class="btn btn-dark">Investimentos</button></li>
                <li><button type="button" class="btn btn-dark">Planos</button></li> 
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <form [formGroup]="formLogin">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <div class="form-check">
                            <label class="form-check-label" for="autoSizingCheck2">
                                <b>Acesse</b> sua conta
                            </label>
                            <input type="text" class="form-control" id="inlineFormInputName"
                                placeholder="Digite seu CPF">
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>