<div class="jumbotron">
    <h1 class="display-4">Quem somos nós?</h1>
    <br>
    <p class="lead">Internet banking é uma ferramenta online, que permite acessar a sua conta corrente-corrente pela internet. Com esse recurso você pode verificar seu saldo, fazer transferências, pagar contas, solicitar empréstimos, realizar investimentos e muitas outras transações. Além do Internet Banking, existem os Apps de cada banco! Está interessado nesse serviço prático? Leia: Serviços dos Bancos: Aplicativos e Segurança digital

            É uma opção bastante útil, já que você não precisa se deslocar até a agência bancária, fazendo suas operações no conforto da sua casa.</p>
    <hr class="my-4">
    <p>
            Primeiramente é preciso acessar o site do banco onde você tem a sua conta-corrente ou poupança. Já o acesso depende das regras de cada banco. Escrevemos sobre o Internet Banking dos grandes bancos. Está interessado em usar? Leia, ache seu banco, e entenda mais sobre.

            Veja como acessar o Internet Banking do seu Banco!
            Geralmente, é preciso fazer um cadastro no site, com seus dados pessoais e os dados da sua conta.
            
            É necessário também que se cadastre uma senha específica para acessar a sua conta. Alguns bancos permitem que essa chave de segurança seja cadastrada na hora, pela internet mesmo. Já outros bancos exigem que o usuário compareça a agência para criar a senha da internet.
            
            Verifique com o seu banco o procedimento para se cadastrar e usar o Internet Banking.
    </p>
    <br>
    <a class="btn btn-outline-dark btn-lg" (click)="gotoHome()" role="button">Crie sua conta</a>
</div>